<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form id="form-usuario" #formusuario="ngForm">
    <ion-item id="nombre">
      <ion-label stacked>
        Nombre
      </ion-label>
      <ion-input type="text" required name="nombre" [(ngModel)]="usuario.nombre" placeholder=""></ion-input>
    </ion-item>
    <ion-item id="apellidos">
      <ion-label stacked>
        Apellidos
      </ion-label>
      <ion-input type="text" required name="apellidos" [(ngModel)]="usuario.apellidos" placeholder=""></ion-input>
    </ion-item>
    <ion-button ion-color-primary color="primary" full (click)="guardar_usuario(formusuario.value)" color="light">CREAR</ion-button>
  </form>
</ion-content>